*{
    margin:0 ;
}
.card-img-top {
    width: 100px;
}
.row {
    margin-bottom: 10px;
}
.marquee{
    padding-bottom: 10px;
    color: yellow;
    background-color: orange;
    padding-top: 10px;
    font-style: italic;
    
}
#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-top: 0px;
    
}
#products {
    margin-top: 75px;
}


